* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", serif;
  color: var(--primary-color);
}

body{
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container .content {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 1100px;

}

:root {
  /* Warna Dasar */
  --primary-color: white; /* Biru */
  --secondary-color: #f1502a; /* Hijau */
  --accent-color: #2d3b54; /* Merah */
  --text-color: #2c3e50; /* Hitam gelap */
  --background-color: #ecf0f1; /* Abu terang */

  /* Variasi Warna */
  --primary-light: #5dade2;
  --primary-dark: #21618c;
}

/* ------------------------------------------------------------------------------- */

.navbar {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 50px 0px;
}



.navbar .header{
  width: 130px;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
}

/* ------------------------------------------------------------------------------- */

.hero {
  /* background-color: blue; */
  padding: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.hero .background {
  width: 100vw;
  height: 150vh;
  background-image: url("Resources/BackgroundHero.png");
  /* background-position-y: -340px; */
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

.hero .left {
  width: 500px;
  /* background-color: blue; */
  padding-top: 52px;
}

.hero .left h1 {
  font-size: 65px;
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Inria Sans", serif;
  letter-spacing: 5px;
  font-weight: bolder;
}

.hero .left p.head{
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 19px;
}

.hero .left button {
  background-color: var(--secondary-color);
  width: 110px;
  outline: none;
  height: 37px;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins", serif;
}

.hero .left p{
    margin-top: 30px;
    font-family: "Inria Sans", serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
}

.hero .left .look {
  margin-top: 30px;
  background-color: var(--accent-color);
}

.hero .right{
    /* background-color: red; */
    background-image: url("Resources/HeroCharacter.png");
    /* background-color: red; */
    background-size: cover;
    width: 500px;
    height: 750px;
    background-size: 700px;
    background-position-x: -100px;
    background-position-y: -10px;
    position: relative;
}


.hero .right .cloud{
    /* background-color: red; */
    background-image: url("Resources/Cloud.png");
    background-size: cover;
    width: 900px;
    margin-left: -340px;
    height: 600px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.hero .right .star{
  /* background-color: red; */
  background-image: url(Resources/Star.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 240px;
}


/* ------------------------------------------------------------------------------- */


.border{
    /* background-color: red; */
    height: 20px;
    display: flex;
    justify-content: center;
}
.border .background{
    position: absolute;
    /* background-color: blue; */
    height: 600px;
    width: 100%;
    left: 0;
    margin-top: -195px;
    display: flex;
    justify-content: center;
}

.border .background .bg{
    background-image: url("Resources/Bridge.png");
    background-size: cover;
    width: 1500px;
    height: 600px;
    z-index: 1;
}



/* ------------------------------------------------------------------------------- */


.infogame{
    width: 100%;
    max-height: 100vh;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    padding-top: 350px;
}

.infogame .left{
  /* background-color: blue; */
  width: 1000px;
  height: 400px;
  z-index: 1;
}
.infogame .right{
  /* background-color: green; */
  width: 1000px;
  height: 400px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.infogame .left h1{
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  font-size: 42px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.infogame .left .line{
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  width: 75%;
  height: 3px;
  border-radius: 15px;
  margin-top: 10px;
}

.infogame .left p{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1.5px;
  width: 90%;
  color: rgba(255, 255, 255, 0.829);
}

.infogame .right img.thumbnail{
  width: 500px;
}

.infogame .right img.header{
  width: 130px;
  margin-top: 10px;
}

.infogame .background{
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 1500px;
    /* margin-right: 30px; */
    margin-top: 40px;
    height: 2900px;
    background-color: black;
    z-index: -1;
}


/* ---------------------------- */


.pickagents{
  /* background-color: red; */
  display: flex;
  padding-top: 250px;
  padding-bottom: 200px;
  justify-content: center;
  gap: 80px;
}

.pickagents img{
  /* background-color: blue; */
  width: 400px;
  height: 500px;
}

.pickagents .right{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 130px; */
  width: 450px;
}

.pickagents .right .title{
  font-size: 26px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.pickagents .right .title .gold{
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.pickagents .right .title .white{
  margin-top: -13px;
}

.pickagents .right p{
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.92);
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}


.pickagents .right .line{
  height: 1px;
  width: 80%;
  background-color: white;
  margin-top: 13px;
}

.pickagents .right button{
  width: 105px;
  height: 35px;
  margin-top: 18px;
  background-color: #2D3B54;
  border: none;
  outline: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.906);
  font-weight: 300;
  font-family: "Poppins", serif;
  cursor: pointer;
}


/* ------------------- */


.waitingfor{
  /* background-color: red; */
  /* position: relative; */
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.waitingfor .background{
  /* background-color: green; */
  background-image: url(Resources/BackgroundWaitingFor.png);
  background-size: cover;
  width: 1500px;
  height: 1100px;
  position: absolute;
  z-index: -1;
}

.waitingfor .contents{
  /* background-color: red; */
  height: 600px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
}

.waitingfor .contents .left{
  /* background-color: blue; */
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.waitingfor .contents .left h1{
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.waitingfor .contents .left button{
  height: 45px;
  width: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #F1502A;
  filter: drop-shadow(4px 4px 0px #FFFFFF);
  font-family: 'Poppins', serif;
  font-weight: 300;
  cursor: pointer;
}

.waitingfor .contents img{
  width: 300px;
  height: 500px;
  /* background-color: green; */
}


/* ------------------------------ */

.footer{
  /* background-color: red; */
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
}

.footer .background{
  background-color: #061119;
  position: absolute;
  width: 1500px;
  height: 370px;
  z-index: -1;
}


.footer .left{
  /* background-color: red; */
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .left .title{
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer .left .title h1{
  letter-spacing: 1px;
  font-size: 35px;
}

.footer .left .title img{
  width: 30px;
  height: 25px;
}

.footer .left p{
  width: 490px;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.817);
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 18px;
}

.footer .left .buttons{
  margin-top: 40px;
  display: flex;
  gap: 7px;
}

.footer .left .buttons button{
  width: 250px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 13px;
  font-family: 'Poppins', serif;
}

.footer .left .buttons .button1{
  background-color: #D9D9D9;
  color: var(--accent-color);
  font-weight: 600;
}

.footer .left .buttons .button2{
  background-color: transparent;
  border: 1.5px solid white;
}

.footer .right{
  /* background-color: blue; */
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .right .upper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .right .upper ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 13px;
}

.footer .right .upper ul li{
  font-size: 13.5px;
  color: rgba(255, 255, 255, 0.84);
}


.footer .right .upper h1{
  font-size: 17px;
}


.footer .right .copyright{
  margin-top: 40px;
  font-size: 12px;
}

