* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", serif;
  color: var(--primary-color);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff21; 
}
 
::-webkit-scrollbar-thumb {
  background: #2d3b54; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c; 
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  /* background-color: rgba(255, 0, 0, 0.432); */
  display: flex;
  flex-direction: column;
  width: 1100px;
}

.hide {
  display: none;
}

:root {
  --primary-color: white;
  --secondary-color: #f1502a;
  --accent-color: #2d3b54;
  --text-color: #2c3e50;
  --background-color: #ecf0f1;

  --width1350: 1350px;
  --width1180: 1180px;
  --width950: 950px;
  --width720: 720px;
  --width540: 540px;
}

/* ------------------------------------------------------------------------------- */

.navbar {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px 50px 0px;
}

.navbar .header {
  width: 130px;
  cursor: pointer;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
}

.navbar ul li {
  cursor: pointer;
  transition: 0.2s;
}

.navbar ul li:hover {
  color: rgba(255, 255, 255, 0.744);
}

.navbar .bar {
  width: 25px;
  height: 25px;
  background-image: url(Resources/Humburger.png);
  background-size: cover;
  display: none;
  cursor: pointer;
  transition: 0.2s;
}
.navbar .bar:hover {
  transform: scale(1.05);
}

.navbar-side {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  right: 0;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  scroll-behavior: unset;
  padding-left: 10px;
  top: 0;
}

.navbar-side.hide {
  display: none;
}

.navbar-side img {
  width: 100px;
  margin-top: 20px;
}

.navbar-side ul {
  margin-top: 20px;
  list-style: none;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.navbar-side ul li {
  background-color: rgb(37, 37, 37);
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 13px;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-side ul li:hover {
  background-color: rgb(46, 46, 46);
}

.navbar-side ul li.close {
  background-color: var(--secondary-color);
}

/* ------------------------------------------------------------------------------- */

.hero {
  /* background-color: blue; */
  padding: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.hero .background {
  width: 100vw;
  height: 150vh;
  background-image: url("Resources/BackgroundHero.png");
  /* background-position-y: -340px; */
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero .left {
  width: 500px;
  /* background-color: blue; */
  padding-top: 52px;
}

.hero .left h1 {
  font-size: 65px;
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Inria Sans", serif;
  letter-spacing: 5px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.hero .left p.head {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 19px;
}

.hero .left button {
  background-color: var(--secondary-color);
  width: 110px;
  outline: none;
  height: 37px;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins", serif;
  cursor: pointer;
  transition: 0.2s;
}

.hero .left a {
  background-color: var(--secondary-color);
  width: 110px;
  height: 37px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins", serif;
  cursor: pointer;
  transition: 0.2s;
  padding: 8px 17px;
  text-decoration: none;
}

.hero .left a:hover {
  background-color: #c24023;
}

.hero .left p {
  margin-top: 30px;
  font-family: "Inria Sans", serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.hero .left .look {
  margin-top: 30px;
  background-color: var(--accent-color);
}

.hero .left .look:hover {
  background-color: #1f2a3b;
}

.hero .right {
  /* background-color: red; */
  background-image: url("Resources/HeroCharacter.png");
  /* background-color: red; */
  background-size: cover;
  width: 500px;
  height: 750px;
  background-size: 700px;
  background-position-x: -100px;
  background-position-y: -10px;
  position: relative;
}

.hero .right .cloud {
  /* background-color: red; */
  background-image: url("Resources/Cloud.png");
  background-size: cover;
  width: 900px;
  margin-left: -340px;
  height: 600px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.hero .right .star {
  /* background-color: red; */
  background-image: url(Resources/Star.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 240px;
}

/* ------------------------------------------------------------------------------- */

.border {
  /* background-color: red; */
  height: 20px;
  display: flex;
  justify-content: center;
}
.border .background {
  position: absolute;
  /* background-color: blue; */
  height: 600px;
  width: 100%;
  left: 0;
  margin-top: -195px;
  display: flex;
  justify-content: center;
}

.border .background .bg {
  background-image: url("Resources/Bridge.png");
  background-size: cover;
  width: 1500px;
  height: 600px;
  z-index: 1;
}

/* ------------------------------------------------------------------------------- */

.infogame {
  width: 100%;
  max-height: 100vh;
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  padding-top: 350px;
}

#infogame {
  position: absolute;
  top: 0;
  margin-top: 180px;
}

.infogame .left {
  /* background-color: blue; */
  width: 1000px;
  height: 400px;
  z-index: 1;
}
.infogame .right {
  /* background-color: green; */
  width: 1000px;
  height: 400px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infogame .left h1 {
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  font-size: 42px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.infogame .left .line {
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  width: 75%;
  height: 3px;
  border-radius: 15px;
  margin-top: 10px;
}

.infogame .left p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1.5px;
  width: 90%;
  color: rgba(255, 255, 255, 0.829);
}

.infogame .right img.thumbnail {
  width: 500px;
}

.infogame .right img.header {
  width: 130px;
  margin-top: 10px;
}

.infogame .background {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 1500px;
  /* margin-right: 30px; */
  margin-top: 40px;
  height: 2900px;
  background-color: black;
  z-index: -1;
}

/* ---------------------------------------------------------- */

.pickagents {
  /* background-color: red; */
  display: flex;
  padding-top: 250px;
  padding-bottom: 200px;
  justify-content: center;
  gap: 80px;
}

.pickagents img {
  /* background-color: blue; */
  width: 400px;
  height: 500px;
}

.pickagents .right {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 130px; */
  width: 450px;
}

.pickagents .right .title {
  font-size: 26px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.pickagents .right .title .gold {
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.pickagents .right .title .white {
  margin-top: -13px;
}

.pickagents .right p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.92);
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}

.pickagents .right .line {
  height: 1px;
  width: 80%;
  background-color: white;
  margin-top: 13px;
}

.pickagents .right button {
  width: 105px;
  height: 35px;
  margin-top: 18px;
  background-color: #2d3b54;
  border: none;
  outline: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.906);
  font-weight: 300;
  font-family: "Poppins", serif;
  cursor: pointer;
  transition: 0.2s;
}

.pickagents .right button:hover {
  background-color: #18202d;
}

/* ------------------- */

.waitingfor {
  /* background-color: red; */
  /* position: relative; */
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.waitingfor .background {
  /* background-color: green; */
  background-image: url(Resources/BackgroundWaitingFor.png);
  background-size: cover;
  width: 100vw;
  height: 1100px;
  position: absolute;
  z-index: -1;
}

.waitingfor .contents {
  /* background-color: red; */
  height: 600px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
}

.waitingfor .contents .left {
  /* background-color: blue; */
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.waitingfor .contents .left h1 {
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.waitingfor .contents .left button {
  height: 45px;
  width: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f1502a;
  filter: drop-shadow(4px 4px 0px #ffffff);
  font-family: "Poppins", serif;
  font-weight: 300;
  cursor: pointer;
  transition: 0.2s;
}

.waitingfor .contents .left button:hover {
  background-color: #be3e22;
}

.waitingfor .contents img {
  width: 300px;
  height: 500px;
  /* background-color: green; */
}

/* ------------------------------ */

.footer {
  /* background-color: red; */
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
}

.footer .background {
  background-color: #061119;
  position: absolute;
  width: 100vw;
  height: 370px;
  z-index: -1;
}

.footer .left {
  /* background-color: red; */
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .left .title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer .left .title h1 {
  letter-spacing: 1px;
  font-size: 35px;
}

.footer .left .title img {
  width: 30px;
  height: 25px;
}

.footer .left p {
  width: 490px;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.817);
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 18px;
}

.footer .left .buttons {
  margin-top: 40px;
  display: flex;
  gap: 7px;
}

.footer .left .buttons button {
  width: 250px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 13px;
  font-family: "Poppins", serif;
  font-weight: 600;
  transition: 0.2s;
}

.footer .left .buttons .button1 {
  background-color: #d9d9d9;
  color: var(--accent-color);
}

.footer .left .buttons .button1:hover {
  background-color: #f3f3f3;
}

.footer .left .buttons .button2 {
  background-color: transparent;
  border: 1.5px solid white;
}

.footer .left .buttons .button2:hover {
  background-color: #d8d8d8;
  color: var(--accent-color);
}

.footer .right {
  /* background-color: blue; */
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .right .upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .right .upper ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 13px;
}

.footer .right .upper ul li {
  font-size: 13.5px;
  color: rgba(255, 255, 255, 0.84);
  cursor: pointer;
  transition: 0.2s;
}

.footer .right .upper ul li:hover {
  color: rgba(255, 255, 255, 0.612);
}

.footer .right .upper h1 {
  font-size: 17px;
}

.footer .right .copyright {
  margin-top: 40px;
  font-size: 12px;
}

/* ------------------------------------- */

body.agents {
  background: linear-gradient(180deg, #032435 2.8%, #094e67 80%);
}

.hero-agents {
  min-height: 100vh;
}

.hero-agents .title {
  /* background-color: red; */
  width: 80%;
}

.hero-agents .title h1 {
  font-size: 50px;
  letter-spacing: 1px;
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-agents .title p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.905);
}

.hero-agents .card-container {
  display: flex;
  gap: 20px;
  padding: 50px 0;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.hero-agents .card-container .card {
  width: 250px;
  height: 400px;
  border: solid white 1.3px;

  filter: drop-shadow(12px 0px 0px #000000);
  cursor: pointer;
}

.hero-agents .card-container .card .header {
  width: 100px;
  height: 7%;
  background-color: #03151f;
  margin-bottom: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}
.hero-agents .card-container .card .background {
  width: 100%;
  height: 96.5%;
  background-color: #03151f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-agents .card-container .card .background img{
  width: 230px;
}

.hero-agents .card-container .card .background p{
  width: 210px;
  font-size: 17px;
  text-align: center;
}



/* ------------------------------------------ */

body.maps{
  background: linear-gradient(180deg, #032435 2.8%, #094e67 80%);
}

.hero-maps {
  min-height: 100vh;
}

.hero-maps .title {
  /* background-color: red; */
  width: 80%;
}

.hero-maps .title h1 {
  font-size: 50px;
  letter-spacing: 1px;
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-maps .title p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.905);
  margin-top: 13px;
  font-weight: 200;
}


.maps-container{
  /* background-color: red; */
  min-height: 600px;
  display: grid;
  grid-template-areas: "prev prev prev poster"
                       "prev prev prev poster"
                       "prev prev prev poster"
                       "prev1 prev2 prev3 poster";

  justify-content: start;
  grid-template-columns: 1.7fr 1.7fr 1.7fr 2.2fr;
  gap: 10px;
  margin-top: 40px;
}

.maps-container img{
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.maps-container .prev{
  grid-area: prev;
  background-color: blue;
  object-fit: cover;


}

.maps-container .prev1{
  grid-area: prev1;
  background-color: rgb(250, 180, 131);
  object-fit: cover;


}
.maps-container .prev2{
  grid-area: prev2;
  background-color: rgb(144, 247, 76);
  object-fit: cover;
}

.maps-container .prev3{
  grid-area: prev3;
  background-color: rgb(162, 255, 0);
  object-fit: cover;
}

.maps-container .poster{
  grid-area: poster;
  background-color: rgb(95, 12, 120);
  object-fit: cover;
}


.maps-ads{
  width: 100%;
  height: 350px;
  margin-bottom: 60px;
  margin-top: 60px;
  display: flex;
}

.maps-ads .side{
  width: 80px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.maps-ads .boxs{
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  margin-left: 12px;
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
}

.maps-ads .boxs .banner-container{
  display: flex;
  /* animation: scrollBanner 10s linear infinite;  */
  gap: 30px;
  /* transition: transform 0.5s ease-out; */
}
.maps-ads .boxs img{
  background-color: green;
  height: 100%;
  min-width: 500px;
  object-fit: cover;
}

/* .maps-ads .boxs img:nth-child(1){
  background-color: green;
}

.maps-ads .boxs img:nth-child(2){
  background-color: red;
}


.maps-ads .boxs img:nth-child(3){
  background-color: yellow;
}


.maps-ads .boxs img:nth-child(4){
  background-color: purple;
} */

@keyframes scrollBanner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-75.5%);
  }
}



/* -------------------------------------------------- */


body.news{
  background: linear-gradient(180deg, #6A0000 0%, #D00000 34%, #D00000 89%);
}

.hero-news {
  min-height: 100vh;
}

.hero-news .preview{
  width: 300px;
  height: 600px;
  position: absolute;
  right: 0; top: 0;
  background-image: url(Resources/Agents/Reyna.png);
  background-size: cover;
  margin-top: 280px;
}

.hero-news .title {
  /* background-color: red; */
  width: 80%;
}

.hero-news .title h1 {
  font-size: 50px;
  letter-spacing: 1px;
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-news .title p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.905);
  margin-top: 13px;
  font-weight: 200;
}


.news-container{
  /* background-color: blue; */
  min-height: 500px;
  display: flex;
  width: 90%;
  margin: 40px 0;
  gap: 10px;
  flex-wrap: wrap;
}

.news-container .card{
  background-color: #E63246;
  border: 5px solid white;
  width: 300px;
  height: 500px;
  padding: 20px;
  position: relative;
}

.news-container .card h1{
  font-weight: bolder;
  font-family: 'Poppins', serif;
  font-size: 26px;
  letter-spacing: 1.2px;
}


.news-container .card p{
  font-size: 14px;
  letter-spacing: 0.8px;
}

.news-container .card img{
  position: absolute;
  width: 150px;
  height: 240px;
  bottom: 0;
  right: 0;

  filter: brightness(0);
}



/* ------------------------ */

body.report{
  background-color: black;
}


.hero-report {
  min-height: 850px;
  position: relative;
}

.hero-report .preview{
  width: 400px;
  height: 600px;
  position: absolute;
  right: 0; top: 0;
  background-image: url(Resources/Agents/Sova.png);
  background-size: cover;
  margin-top: 200px;
  margin-right: 20px;
}

.hero-report .title {
  /* background-color: red; */
  width: 80%;
}

.hero-report .title h1 {
  font-size: 50px;
  letter-spacing: 1px;
  background: linear-gradient(180deg, #fdf77b 35.5%, #f5a526 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-report .title p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.905);
  margin-top: 13px;
  font-weight: 200;
}


.hero-report form{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero-report form input{
  height: 60px;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

.hero-report form button{
  height: 60px;
  color: black;
}